[Desktop Entry]
Name=Comic Downloader GMTPC
Comment=Modern Cross-Platform Manga and Comic Downloader
Exec=./ComicDownloaderGMTPC.Desktop
Terminal=false
Type=Application
Categories=Network;Utility;
Icon=Icon
